body {
  font-family: 'Spirax', cursive;
/*  background-image: url("../images/roasted-beans.jpg"); */
  background-color: rgb(0, 0, 255, 0.2);
}

h1, h2 {
  color: blue;
  font-size: 40px;
}
p{
  font-size: 20px;
}

ul {
  list-style: none;
}

li {
  list-style-image: url("../images/tiny-coffee-cup.gif");
}
nav ul{
  list-style-type: none;
}
nav li{
  display: inline; /*now list will horizontal*/
}
a{
  text-decoration: :none;
  color:brown;
}
nav a:link, nav a:visited{
background-color:blue;
font-size: 20px;
}
nav a:hover, nav a:active{
  background-color: lightblue;
  font-size: 20px;
}
header {
	background-color:white;
}
